.avada-single-product-gallery-wrapper {
  position: relative;
  min-width: 0;
}
.woocommerce-product-gallery {
  position: relative;
}
.woocommerce-product-gallery .woocommerce-product-gallery__trigger {
  position: absolute;
  z-index: 1;
  right: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0;
}
.woocommerce-product-gallery .woocommerce-product-gallery__trigger:after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "icomoon";
  content: "\f002";
  color: #fff;
  font-size: 18px;
}
.woocommerce-product-gallery .woocommerce-product-gallery__trigger .emoji {
  display: none !important;
}
.woocommerce-product-gallery figure {
  margin: 0;
}
.woocommerce-product-gallery .flex-control-thumbs {
  margin: 3px -4px 0;
  width: auto;
  text-align: inherit;
}
.woocommerce-product-gallery .flex-control-thumbs li {
  display: inline-block;
  vertical-align: top;
  float: none;
  margin: 0;
  padding: 4px;
}
.woocommerce-product-gallery--columns-1.woocommerce-product-gallery .flex-control-thumbs li {
  width: 100%;
}
.woocommerce-product-gallery--columns-2.woocommerce-product-gallery .flex-control-thumbs li {
  width: 50%;
}
.woocommerce-product-gallery--columns-3.woocommerce-product-gallery .flex-control-thumbs li {
  width: 33.3333%;
}
.woocommerce-product-gallery--columns-4.woocommerce-product-gallery .flex-control-thumbs li {
  width: 25%;
}
.woocommerce-product-gallery--columns-5.woocommerce-product-gallery .flex-control-thumbs li {
  width: 20%;
}
.woocommerce-product-gallery--columns-6.woocommerce-product-gallery .flex-control-thumbs li {
  width: 16.6667%;
}
.woocommerce-product-gallery .flex-direction-nav {
  display: none;
}
.woocommerce-product-gallery:hover .flex-direction-nav li a {
  opacity: 0.8;
}
.woocommerce-product-gallery:hover .flex-direction-nav li a:hover {
  opacity: 1;
}
.avada-product-images-global {
  float: left;
}
.avada-product-images-thumbnails-top > .onsale,
.avada-product-images-thumbnails-right > .onsale,
.avada-product-images-thumbnails-left > .onsale {
  display: none;
}
.avada-product-images-thumbnails-top .avada-product-gallery,
.avada-product-images-thumbnails-bottom .avada-product-gallery {
  flex-wrap: wrap;
}
.avada-product-images-thumbnails-top .avada-product-gallery .avada-product-gallery-thumbs-wrapper,
.avada-product-images-thumbnails-bottom .avada-product-gallery .avada-product-gallery-thumbs-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.avada-product-images-thumbnails-top .avada-product-gallery .flex-control-thumbs,
.avada-product-images-thumbnails-bottom .avada-product-gallery .flex-control-thumbs {
  direction: ltr;
  justify-content: space-between;
  opacity: 0;
  position: absolute;
  margin: 0;
}
.avada-product-images-thumbnails-top .avada-product-gallery .flex-control-thumbs li,
.avada-product-images-thumbnails-bottom .avada-product-gallery .flex-control-thumbs li {
  width: 119px;
}
.avada-product-images-thumbnails-top .avada-product-gallery .flex-viewport {
  order: 2;
}
.avada-product-images-thumbnails-top .avada-product-gallery .avada-product-gallery-thumbs-wrapper {
  order: 1;
  margin-bottom: 7px;
}
.avada-product-images-thumbnails-bottom .avada-product-gallery .avada-product-gallery-thumbs-wrapper {
  margin-top: 7px;
}
.avada-product-images-thumbnails-right .avada-product-gallery,
.avada-product-images-thumbnails-left .avada-product-gallery {
  width: 100%;
}
.avada-product-images-thumbnails-right .avada-product-gallery .flex-control-thumbs,
.avada-product-images-thumbnails-left .avada-product-gallery .flex-control-thumbs {
  flex-flow: column;
  flex-shrink: 0;
  position: relative;
  margin: 0;
}
.avada-product-images-thumbnails-right .avada-product-gallery .flex-control-thumbs li,
.avada-product-images-thumbnails-left .avada-product-gallery .flex-control-thumbs li {
  padding-bottom: 15%;
}
.avada-product-images-thumbnails-right .avada-product-gallery .flex-control-thumbs li:last-child,
.avada-product-images-thumbnails-left .avada-product-gallery .flex-control-thumbs li:last-child {
  padding-bottom: 0;
}
.avada-single-product-gallery-wrapper.avada-product-images-thumbnails-right .avada-product-gallery .flex-control-thumbs li,
.avada-single-product-gallery-wrapper.avada-product-images-thumbnails-left .avada-product-gallery .flex-control-thumbs li {
  width: 100%;
}
.avada-product-images-thumbnails-right .avada-product-gallery .flex-viewport {
  order: 1;
}
.avada-product-images-thumbnails-right .avada-product-gallery .flex-control-thumbs {
  order: 2;
}
.avada-product-images-thumbnails-right .avada-product-gallery .flex-control-thumbs li {
  padding-left: 15%;
}
.avada-product-images-thumbnails-left .avada-product-gallery .flex-viewport {
  order: 2;
}
.avada-product-images-thumbnails-left .avada-product-gallery .flex-control-thumbs {
  order: 1;
}
.avada-product-images-thumbnails-left .avada-product-gallery .flex-control-thumbs li {
  padding-right: 15%;
}
.avada-product-gallery {
  display: flex;
}
.avada-product-gallery .woocommerce-product-gallery__trigger {
  display: none;
}
.avada-product-gallery .avada-product-gallery-lightbox-trigger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.avada-product-gallery .woocommerce-product-gallery__image.flex-active-slide {
  position: relative;
}
.avada-product-gallery .woocommerce-product-gallery__image.flex-active-slide .zoomImg {
  cursor: pointer;
}
.avada-product-gallery .flex-control-thumbs {
  display: flex;
}
.avada-product-gallery .flex-control-thumbs li {
  padding: 0;
}
.avada-product-gallery .flex-direction-nav {
  display: block;
}
