.products {
  list-style: none;
  margin: 0;
  padding: 0;
}
.products > li {
  border: 1px solid #efefef;
  border-bottom-width: 2px;
  margin-bottom: 10px;
}
.products-6 > li {
  float: left;
  width: 15.832%;
  margin-right: 1%;
}
.products-6 > li:nth-child(6n) {
  margin-right: 0;
}
.products-6 > li:nth-child(6n+1) {
  clear: both;
}
.products-5 > li {
  float: left;
  width: 19.2%;
  margin-right: 1%;
}
.products-5 > li:nth-child(5n) {
  margin-right: 0;
}
.products-5 > li:nth-child(5n+1) {
  clear: both;
}
.products-4 > li {
  float: left;
  width: 24.25%;
  margin-right: 1%;
}
.products-4 > li:nth-child(4n) {
  margin-right: 0;
}
.products-4 > li:nth-child(4n+1) {
  clear: both;
}
.products-3 > li {
  float: left;
  width: 32.6%;
  margin-right: 1%;
}
.products-3 > li:nth-child(3n) {
  margin-right: 0;
}
.products-3 > li:nth-child(3n+1) {
  clear: both;
}
.products-2 > li {
  float: left;
  width: 49.5%;
  margin-right: 1%;
}
.products-2 > li:nth-child(2n) {
  margin-right: 0;
}
.products-2 > li:nth-child(2n+1) {
  clear: both;
}
.products-1 > li {
  float: left;
  width: 100%;
}
.products-1 > li:nth-child(2n) {
  margin-right: 0;
}
.products-1 > li:nth-child(2n+1) {
  clear: both;
}
.related.products,
.upsells.products {
  margin-top: 60px;
}
.product {
  position: relative;
}
.product .avada-product-images-global .woocommerce-product-gallery {
  float: left;
  margin-right: 30px;
}
.product .summary.entry-summary {
  margin-left: 530px;
}
.product .entry-summary .summary-container {
  float: left;
  width: 100%;
}
.product .summary.entry-summary .summary-container > div:nth-child(2) {
  display: inline-block;
}
.products .product-list-view .product-buttons,
.products .product-list-view .product-details,
.products .product-list-view .product-excerpt.product-list {
  max-width: 73%;
  width: 73%;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0 0 0 2%;
}
.products .product-list-view {
  width: 100% !important;
  display: table;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #efefef;
}
.products .product-list-view > .product-images .crossfade-images {
  position: relative;
}
.products .product-list-view a.product-images {
  display: inline-block;
  max-width: 23%;
  width: 23%;
  margin-right: 2%;
  float: left;
}
.products .product-list-view .product-details-container .clearfix {
  justify-content: flex-start;
}
.products .product-list-view .product-details-container .clearfix .star-rating {
  margin: 0 15px;
}
.products .product-list-view .product-buttons {
  border: none;
  padding-top: 20px;
  margin: 0;
}
.products .product-list-view .product-buttons a {
  display: inline-block;
  float: left;
}
.products .product-list-view .product-buttons a:first-of-type {
  margin-right: 20px;
}
.products .product-list-view .product-excerpt-container {
  padding-top: 20px;
}
.products .product-list-view .product-excerpt.product-list {
  padding-top: 0;
}
.fusion-woocommerce-equal-heights:not(.fusion-woo-shop-page-columns-1) ul.products,
.fusion-woocommerce-equal-heights:not(.fusion-woo-related-columns-1) ul.products,
.fusion-woocommerce-equal-heights:not(.fusion-woo-archive-page-columns-1) ul.products {
  display: flex;
  flex-wrap: wrap;
}
.fusion-woocommerce-equal-heights:not(.fusion-woo-shop-page-columns-1) .products.related .product,
.fusion-woocommerce-equal-heights:not(.fusion-woo-related-columns-1) .products.related .product,
.fusion-woocommerce-equal-heights:not(.fusion-woo-archive-page-columns-1) .products.related .product,
.fusion-woocommerce-equal-heights:not(.fusion-woo-shop-page-columns-1) .products .product.product-grid-view,
.fusion-woocommerce-equal-heights:not(.fusion-woo-related-columns-1) .products .product.product-grid-view,
.fusion-woocommerce-equal-heights:not(.fusion-woo-archive-page-columns-1) .products .product.product-grid-view {
  display: flex;
  flex-direction: column;
}
.fusion-woocommerce-equal-heights:not(.fusion-woo-shop-page-columns-1) .products.related .product .product-buttons,
.fusion-woocommerce-equal-heights:not(.fusion-woo-related-columns-1) .products.related .product .product-buttons,
.fusion-woocommerce-equal-heights:not(.fusion-woo-archive-page-columns-1) .products.related .product .product-buttons,
.fusion-woocommerce-equal-heights:not(.fusion-woo-shop-page-columns-1) .products .product.product-grid-view .product-buttons,
.fusion-woocommerce-equal-heights:not(.fusion-woo-related-columns-1) .products .product.product-grid-view .product-buttons,
.fusion-woocommerce-equal-heights:not(.fusion-woo-archive-page-columns-1) .products .product.product-grid-view .product-buttons {
  margin-top: auto;
}
.products .product .fusion-item-in-cart .fusion-rollover-content .fusion-product-buttons {
  display: none;
}
.products .product.fusion-faded-out {
  border: none;
}
.product .product-buttons {
  padding-top: 15px;
}
.product .product-buttons .fusion-content-sep {
  margin-top: 14px;
  margin-bottom: 15px;
}
.product-buttons a {
  display: block;
  position: relative;
  box-sizing: border-box;
  padding-left: 16px;
  width: auto;
  max-width: 49%;
  line-height: inherit;
  font-size: 12px;
  text-shadow: none;
}
.product-buttons a:first-child {
  float: left;
}
.product-buttons a:nth-of-type(2),
.product-buttons a:nth-of-type(3),
.product-buttons a:nth-of-type(4) {
  float: right !important;
}
.product-buttons a:before {
  position: absolute;
  margin-left: -16px;
  font-family: "icomoon";
  color: inherit;
}
.product-buttons .add_to_cart_button:before,
.product-buttons .product_type_external:before,
.product-buttons .product_type_auction:before,
.product-buttons .product_type_simple:before {
  content: "\f07a";
}
.product-buttons .show_details_button:before {
  content: "\e623";
}
.product-buttons .fusion-quick-view:before {
  content: "\f06e";
}
.product-buttons .product_type_grouped:before,
.product-buttons .product_type_variable:before {
  content: "\f013";
}
.product-buttons .align-right {
  float: right;
  width: 41%;
  position: relative;
  display: inline-block;
  line-height: 40px;
}
.product-buttons .added_to_cart {
  display: none;
}
.product-buttons .button {
  text-align: left;
}
.product-images {
  position: relative;
}
.product-images {
  display: block;
  text-align: center;
  position: relative;
}
.product-images .crossfade-images {
  white-space: nowrap;
}
.product-images .crossfade-images .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.product-images .crossfade-images:hover img:not(.hover-image) {
  opacity: 0;
}
.product-images .crossfade-images:hover .hover-image {
  opacity: 1 !important;
}
.product-images .crossfade-images img {
  transition: opacity 0.5s ease-in-out;
  position: relative;
  z-index: 50;
  min-width: 100%;
  vertical-align: middle;
}
.product-images .crossfade-images .hover-image {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
}
.product-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}
#main .product .product_title {
  margin: 0;
}
.cart-loading {
  display: none;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  text-align: center;
}
.cart-loading .fusion-icon-spinner {
  animation: mask 3s infinite alternate;
  display: inline-block;
  line-height: 70px;
}
.cart-loading .fusion-icon-check-square-o {
  display: inline-block;
  line-height: 70px;
}
.cart-loading i {
  display: inline-block;
  height: 70px;
  width: 70px;
  line-height: 70px;
  border-radius: 50%;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 25px;
  color: #fff;
}
.cart-loading .view-cart {
  margin-top: 10px;
}
.fusion-clean-product-image-wrapper {
  position: relative;
}
.fusion-clean-product-image-wrapper .cart-loading {
  position: relative;
  transform: none;
  top: auto;
  bottom: auto;
  right: auto;
  left: auto;
  margin: 0 0 5px;
  height: 100%;
  width: 100%;
  border-radius: 0;
  background-clip: padding-box;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
}
.fusion-clean-product-image-wrapper .cart-loading:hover {
  opacity: 0.6;
}
#wrapper .fusion-clean-product-image-wrapper .cart-loading {
  background-color: transparent;
}
.fusion-clean-product-image-wrapper .cart-loading i {
  font-size: 32px;
  line-height: 70px;
}
.fusion-clean-product-image-wrapper .cart-loading .view-cart {
  display: none;
}
.fusion-clean-product-image-wrapper.fusion-item-in-cart .cart-loading .view-cart {
  display: block;
}
.fusion-item-in-cart .fusion-rollover-content .fusion-product-buttons,
.fusion-item-in-cart .fusion-rollover-content .star-rating {
  display: none;
}
.fusion-woo-product-design-clean .products .fusion-price-rating {
  display: block;
}
.fusion-woo-product-design-clean .products .fusion-rollover-content .fusion-product-buttons a {
  letter-spacing: 1px;
}
.fusion-woo-product-design-clean .products .product-details-container,
.fusion-woo-product-design-clean .slides .product-details-container {
  text-align: center;
}
.fusion-woo-product-design-clean .products .product-title,
.fusion-woo-product-design-clean .slides .product-title {
  font-style: italic;
}
.fusion-woo-product-design-clean .products .fusion-rollover .star-rating,
.fusion-woo-product-design-clean .slides .fusion-rollover .star-rating {
  margin: 0 auto;
}
.fusion-woo-product-design-clean .products .fusion-rollover .fusion-rollover-content .fusion-product-buttons a,
.fusion-woo-product-design-clean .slides .fusion-rollover .fusion-rollover-content .fusion-product-buttons a {
  padding: 0;
}
.fusion-woo-product-design-clean .products .fusion-rollover-content .fusion-product-buttons a:hover,
.fusion-woo-product-design-clean .slides .fusion-rollover-content .fusion-product-buttons a:hover {
  opacity: 0.6;
}
.fusion-woo-product-design-clean .products .fusion-rollover-content .fusion-product-buttons .wc-forward,
.fusion-woo-product-design-clean .slides .fusion-rollover-content .fusion-product-buttons .wc-forward {
  display: none;
}
.fusion-woo-product-design-clean .products .fusion-rollover-content .fusion-rollover-linebreak,
.fusion-woo-product-design-clean .slides .fusion-rollover-content .fusion-rollover-linebreak {
  margin: 0 10px;
}
.fusion-woo-product-design-clean .products .fusion-product-buttons,
.fusion-woo-product-design-clean .slides .fusion-product-buttons {
  margin-top: 6px;
  text-transform: uppercase;
}
.fusion-woo-product-design-clean .products .fusion-product-buttons a,
.fusion-woo-product-design-clean .slides .fusion-product-buttons a {
  display: inline;
  float: none;
  margin-top: 0;
  padding: 0;
  letter-spacing: 1px;
}
.fusion-woo-product-design-clean .products .fusion-product-buttons a:after,
.fusion-woo-product-design-clean .slides .fusion-product-buttons a:after,
.fusion-woo-product-design-clean .products .fusion-product-buttons a:before,
.fusion-woo-product-design-clean .slides .fusion-product-buttons a:before {
  display: none;
}
.fusion-woo-product-design-clean .products .product-details-container .clearfix,
.fusion-woo-product-design-clean .slides .product-details-container .clearfix {
  display: block;
}
.fusion-woo-product-design-clean .products .product-list-view .product-details-container,
.fusion-woo-product-design-clean .slides .product-list-view .product-details-container,
.fusion-woo-product-design-clean .products .product-list-view .product-excerpt-container,
.fusion-woo-product-design-clean .slides .product-list-view .product-excerpt-container {
  text-align: left;
}
.fusion-woo-product-design-clean .products .product-list-view .onsale,
.fusion-woo-product-design-clean .slides .product-list-view .onsale {
  top: 70px;
}
.fusion-woo-product-design-clean .products .product-list-view .price,
.fusion-woo-product-design-clean .slides .product-list-view .price {
  font-style: normal;
}
.fusion-woo-product-design-clean .products .product-list-view .fusion-clean-product-image-wrapper,
.fusion-woo-product-design-clean .slides .product-list-view .fusion-clean-product-image-wrapper {
  display: inline-block;
  float: left;
  margin-right: 2%;
  min-height: 100px;
  width: 23%;
  max-width: 23%;
}
.fusion-woo-product-design-clean .fusion-woo-slider .fusion-product-buttons a {
  letter-spacing: 1px;
}
.star-rating {
  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 1em;
  line-height: 1em;
  font-size: 1em;
  width: 5.1em;
}
.star-rating:before {
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  letter-spacing: 0.1em;
}
.star-rating span {
  overflow: hidden;
  float: left;
  top: 0;
  left: 0;
  position: absolute;
  padding-top: 1.5em;
}
.star-rating span:before {
  top: 0;
  position: absolute;
  left: 0;
  letter-spacing: 0.1em;
}
.fusion-body .fusion-wrapper .star-rating {
  font-family: "icomoon";
}
.fusion-body .fusion-wrapper .star-rating:before {
  content: "\f006\f006\f006\f006\f006";
}
.fusion-body .fusion-wrapper .star-rating span:before {
  content: "\f005\f005\f005\f005\f005";
}
.product-details .star-rating {
  float: right;
}
.onsale {
  -webkit-backface-visibility: hidden;
  z-index: 98;
  color: #fff;
  position: absolute;
  padding: 0 0.3em;
  pointer-events: none;
  display: block;
  border-style: solid;
  line-height: 2em;
}
.woo-sale-badge-circle .onsale {
  line-height: 0;
}
.woo-sale-badge-circle .onsale:before,
.woo-sale-badge-circle .onsale:after {
  content: "";
  width: 100%;
  padding-top: calc(50% + 0.3em);
  display: block;
}
.fusion-out-of-stock {
  z-index: 98;
  position: absolute;
  left: 0;
  top: 0;
  height: 25px;
  width: 100%;
  line-height: 25px;
  background-clip: padding-box;
  background-color: rgba(210, 0, 0, 0.9);
  font-size: 13px;
  color: #fff;
  text-align: center;
  pointer-events: none;
}
.fusion-out-of-stock .fusion-position-text {
  position: relative;
  top: 50%;
  margin-left: -1px;
  margin-top: -14px;
  word-wrap: break-word;
}
.price del .amount,
.product-details .price .from {
  font-size: 13px;
  margin-right: 5px;
}
.price ins {
  text-decoration: none;
}
.price ins .amount {
  font-size: 18px;
  text-decoration: none;
}
.price > .amount {
  font-size: 18px;
}
.price .stock {
  display: inline;
  margin: 0 10px;
}
.product-details-container {
  min-height: 50px;
}
.product-details-container .fusion-price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product-details-container .fusion-price-rating .star-rating {
  order: 2;
}
.product-details-container .fusion-price-rating .price {
  order: 0;
  margin-top: 0;
}
.product .onsale {
  top: 20px;
  left: 15px;
}
.product.outofstock .onsale {
  top: 28px;
}
.product .price {
  margin: 5px 0 0;
}
.product .product-border {
  z-index: auto;
  clear: none;
  height: 4px;
  border-top: 1px solid #e7e6e6;
  border-bottom: 1px solid #e7e6e6;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: content-box;
}
@keyframes mask {
  25% {
    transform: rotate(270deg);
  }
  50% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
