/* Elastic Slider */
.ei-slider {
  position: relative;
  width: var(--tfes_dimensions-width);
  height: var(--tfes_dimensions-height);
  margin: 0 auto;
  overflow: hidden;
}
.ei-slider h2 {
  font-size: var(--es_title_font_size);
  color: var(--es_title_color);
}
.ei-slider h3 {
  font-size: var(--es_caption_font_size);
  color: var(--es_caption_color);
}
.ei-slider-loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  line-height: 400px;
}
.ei-slider-large {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.ei-slider-large li {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.ei-slider-large li img {
  width: auto;
  max-width: none;
}
.ei-slider-thumbs {
  height: 13px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  bottom: 13px;
  z-index: 10;
}
.ei-slider-thumbs li {
  position: relative;
  float: left;
  height: 100%;
}
.ei-slider-thumbs li.ei-slider-element {
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  z-index: 10;
  text-indent: -9000px;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
}
.ei-slider-thumbs li a {
  display: block;
  text-indent: -9000px;
  background: #666;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #fff;
  transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover {
  background-color: #f0f0f0;
}
.ei-slider-thumbs li img {
  position: absolute;
  bottom: 50px;
  opacity: 0;
  z-index: 999;
  max-width: 100%;
  transition: all 0.4s ease;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255, 255, 255, 0.3)));
}
.ei-slider-thumbs li:hover img {
  opacity: 1;
  bottom: 13px;
}
.ei-slider ul {
  list-style: none;
}
.ei-title {
  position: absolute;
  right: 50%;
  margin-right: 13%;
  top: 30%;
}
.ei-title h2,
.ei-title h3 {
  text-align: right;
  margin: 0;
  font-weight: normal;
  line-height: 1.5;
}
